h1 {
    color: #ff0000 ;
}
h2 {
    color: white ;
}
html { color: #dab420;
 background-color:black;
}
h3 {
    color: white ;
}
li{font-family: 'Marck Script', cursive;
}
img {
  width:400px;
  height:500px;
}
